<h1>Online Bus Booking System Admin Portal</h1>

      <br>
      <div>   
      <%= link_to 'See All Companies', '/companies/show' %>   
      </div>  
      <br>
      <div>   
      <%= link_to 'See All Buses', '/buses/show' %>   
      </div>  
      <br>
      <div>   
      <%= link_to 'See All Routes', '/routes/show' %>   
      </div> 
      <br>
      <div>   
      <%= link_to 'See All Confirmed Routes', '/confirmed_routes/show' %>   
      </div> 
       <br>
      <div>   
      <%= link_to 'See All Confirmed Bookings', '/bookings/show' %>   
      </div> 